<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
<h2>Welcome, <span id="username"></span>!</h2>

<p><a href="/auth/jwt/test-page">Test JWT Protected Page</a></p>
<button onclick="logout()">Logout</button>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const username = urlParams.get('username');
  document.getElementById('username').textContent = username;

  function logout() {
    localStorage.removeItem('jwt');
    alert("You have been logged out.");
    window.location.href = "/auth/jwt/login";
  }
</script>
</body>
</html>
